/* Reddit link in tab menu */

/* This only works if your subreddit doesn't have a header image defined in settings. */
/* If it does and you don't want to remove it, comment this next block and uncomment #header-img-a. */
#header-img {
    position: relative;
    top: 55px;
}

/*
#header-img-a {
    position: relative;
    top: 55px;
}
*/

.submit-page #header-img-a {
    position: unset;
    top: 0;
}

.tabmenu li {
    left: 60px;
    position: relative;
}

.submit-page .tabmenu li {
    left: 0;
    position: unset;
}
/* End Reddit link in tab menu */
